html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
        style.
                    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
                
        style.
                    body {
              font-family: "DM Sans", sans-serif;
              font-optical-sizing: auto;
              font-weight: 400;
              font-style: normal;
            }
                
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="pt-6 pb-20 bg-white overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="mb-6")
                        div(class="flex items-center justify-between px-6 py-3.5 bg-white border border-gray-100 rounded-full")
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto")
                                        a(href="#")
                                            img(src="images/Screenshot-2024-02-26-at-16-46-47-removebg-preview.png", alt="", class="h-10")
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto hidden lg:block")
                                        ul(class="flex items-center justify-center")
                                            li(class="mr-9")
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Über Uns
                                            li(class="mr-9")
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Lösungen
                                            li(class="mr-9")
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Referenzen
                                            li
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Kontaktiere Uns
                            div(class="w-auto")
                                div(class="flex flex-wrap items-center")
                                    div(class="w-auto hidden lg:block")
                                        div(class="flex flex-wrap -m-2")                       
                                        |                       
                                        |                     
                                    div(class="w-auto lg:hidden")
                                        a(class="inline-block", href="#")
                                            svg(class="navbar-burger text-blue-500", width="45", height="45", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                rect(width="56", height="56", rx="28", fill="currentColor")
                                                path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                        div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                            div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                            nav(class="relative z-10 px-9 pt-8 bg-white h-full overflow-y-auto")
                                div(class="flex flex-wrap justify-between h-full")
                                    div(class="w-full")
                                        div(class="flex items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                a(class="inline-block", href="#")
                                                    img(src="images/Screenshot-2024-02-26-at-16-46-47-removebg-preview.png", alt="")
                                            div(class="w-auto p-2")
                                                a(class="inline-block navbar-burger", href="#")
                                                    svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    div(class="flex flex-col justify-center py-8 w-full")
                                        ul
                                            li(class="mb-9")
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Über Uns
                                            li(class="mb-9")
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Lösungen
                                            li(class="mb-9")
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Referenzen
                                            li
                                                a(class="inline-block text-sm font-bold text-gray-900 hover:text-gray-700", href="#") Kontaktiere Uns
                                    div(class="flex flex-col justify-end w-full pb-8")                     
                                    |                   
            section(class="py-10 bg-gray-50 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-white rounded-3xl")
                        div(class="max-w-7xl mx-auto")
                            div(class="mb-10 md:max-w-2xl")
                                span(class="inline-block mb-4 text-sm text-blue-500 font-bold uppercase tracking-widest") Blog
                                h2(class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-gray-900 font-black tracking-tight") More from Newsroom
                                p(class="text-gray-500 font-bold") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.
                            div(class="flex flex-wrap -m-4 mb-12")
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-100 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="zanrly-assets/images/blog/avatar.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") Design process • 4 min read
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-gray-900 hover:text-gray-700 group-hover:underline font-black") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") April 06, 2022
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-100 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="zanrly-assets/images/blog/avatar2.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") Design process • 4 min read
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-gray-900 hover:text-gray-700 group-hover:underline font-black") Quisque rutrum tincidunt augue, Donec consectetur
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") April 06, 2022
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-100 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="zanrly-assets/images/blog/avatar3.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") Design process • 4 min read
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-gray-900 hover:text-gray-700 group-hover:underline font-black") Quisque rutrum tincidunt augue, Donec consectetur
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") April 06, 2022
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-100 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="zanrly-assets/images/blog/avatar4.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") Design process • 4 min read
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-gray-900 hover:text-gray-700 group-hover:underline font-black") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") April 06, 2022
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-100 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="zanrly-assets/images/blog/avatar5.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") Design process • 4 min read
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-gray-900 hover:text-gray-700 group-hover:underline font-black") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") April 06, 2022
                                div(class="w-full md:w-1/2 p-4")
                                    div(class="p-8 h-full bg-gray-100 rounded-3xl")
                                        div(class="flex flex-wrap -m-3")
                                            div(class="w-auto p-3")
                                                img(src="zanrly-assets/images/blog/avatar6.png", alt="")
                                            div(class="flex-1 p-3")
                                                div(class="flex flex-col justify-between h-full")
                                                    div(class="flex-initial mb-8")
                                                        p(class="mb-3 text-xs text-gray-500 font-bold") Design process • 4 min read
                                                        a(class="group inline-block mb-4", href="#")
                                                            h3(class="font-heading text-xl text-gray-900 hover:text-gray-700 group-hover:underline font-black") Quisque rutrum tincidunt augue, Donec consectetur
                                                    div(class="flex-initial")
                                                        p(class="text-xs text-gray-500 font-bold") April 06, 2022
                            div(class="flex flex-wrap md:justify-center -m-2")
                                div(class="w-full md:w-auto p-2")
                                    a(class="block w-full px-12 py-3.5 text-lg text-center text-white font-bold bg-gray-900 hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 rounded-full", href="#") Read more News
