html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
        style.
                    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
                
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-10 bg-gray-50 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-white rounded-3xl")
                        div(class="max-w-7xl mx-auto")
                            div(class="mb-10 md:max-w-4xl mx-auto text-center")
                                span(class="inline-block mb-4 text-sm text-blue-500 font-bold uppercase tracking-widest") We are hiring
                                h2(class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-gray-900 font-black tracking-tight") Open positions
                                p(class="md:max-w-md mx-auto text-gray-500 font-bold") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.
                            ul(class="flex flex-wrap justify-center -m-3 mb-16")
                                li(class="w-auto p-3")
                                    a(class="inline-block px-8 py-3.5 text-lg text-gray-900 hover:text-white font-bold bg-gray-100 hover:bg-gray-800 rounded-full", href="#") All
                                li(class="w-auto p-3")
                                    a(class="inline-block px-8 py-3.5 text-lg text-white hover:text-white font-bold bg-gray-900 hover:bg-gray-800 rounded-full", href="#") Design
                                li(class="w-auto p-3")
                                    a(class="inline-block px-8 py-3.5 text-lg text-gray-900 hover:text-white font-bold bg-gray-100 hover:bg-gray-800 rounded-full", href="#") Development
                                li(class="w-auto p-3")
                                    a(class="inline-block px-8 py-3.5 text-lg text-gray-900 hover:text-white font-bold bg-gray-100 hover:bg-gray-800 rounded-full", href="#") Marketing
                            div(class="flex flex-wrap -m-8")
                                div(class="w-full md:w-1/4 p-8")
                                    h2(class="font-heading text-4xl text-gray-900 font-black tracking-tight") Design
                                div(class="w-full md:flex-1 p-8")
                                    div(class="flex flex-wrap -m-3")
                                        div(class="w-full p-3")
                                            div(class="p-10 bg-gray-100 rounded-3xl")
                                                div(class="flex flex-wrap -m-2")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-3xl text-gray-900 font-black tracking-tight") Senior Product Designer
                                                        p(class="mb-10 text-gray-500 font-bold") Part time • Remotly
                                                        a(class="flex items-center text-blue-500 hover:text-blue-600", href="#")
                                                            span(class="mr-0.5 font-black") Apply Now
                                                            svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                path(d="M6.6805 3.5465L8.82049 5.6865L10.1338 6.99317C10.6872 7.5465 10.6872 8.4465 10.1338 8.99983L6.6805 12.4532C6.22716 12.9065 5.45383 12.5798 5.45383 11.9465V8.2065V4.05317C5.45383 3.41317 6.22716 3.09317 6.6805 3.5465Z", fill="currentColor")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        p(class="text-gray-500 font-bold") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.
                                        div(class="w-full p-3")
                                            div(class="p-10 bg-gray-100 rounded-3xl")
                                                div(class="flex flex-wrap -m-2")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-3xl text-gray-900 font-black tracking-tight") Creative Director
                                                        p(class="mb-10 text-gray-500 font-bold") Part time • Remotly
                                                        a(class="flex items-center text-blue-500 hover:text-blue-600", href="#")
                                                            span(class="mr-0.5 font-black") Apply Now
                                                            svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                path(d="M6.6805 3.5465L8.82049 5.6865L10.1338 6.99317C10.6872 7.5465 10.6872 8.4465 10.1338 8.99983L6.6805 12.4532C6.22716 12.9065 5.45383 12.5798 5.45383 11.9465V8.2065V4.05317C5.45383 3.41317 6.22716 3.09317 6.6805 3.5465Z", fill="currentColor")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        p(class="text-gray-500 font-bold") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.
                                        div(class="w-full p-3")
                                            div(class="p-10 bg-gray-100 rounded-3xl")
                                                div(class="flex flex-wrap -m-2")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        h2(class="font-heading mb-2 text-3xl text-gray-900 font-black tracking-tight") UI/UX Designer
                                                        p(class="mb-10 text-gray-500 font-bold") Part time • Remotly
                                                        a(class="flex items-center text-blue-500 hover:text-blue-600", href="#")
                                                            span(class="mr-0.5 font-black") Apply Now
                                                            svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                path(d="M6.6805 3.5465L8.82049 5.6865L10.1338 6.99317C10.6872 7.5465 10.6872 8.4465 10.1338 8.99983L6.6805 12.4532C6.22716 12.9065 5.45383 12.5798 5.45383 11.9465V8.2065V4.05317C5.45383 3.41317 6.22716 3.09317 6.6805 3.5465Z", fill="currentColor")
                                                    div(class="w-full md:w-1/2 p-2")
                                                        p(class="text-gray-500 font-bold") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.
